.responsive{
    max-width:100%;
    height:auto;
    width: auto;
}

main{
    text-align: center;
    background-color: rgb(0,0,0,0.653);
    padding: 50px 10px;
    margin: 20px;
}

p{
    color: white;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

footer{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    color:wheat;
    padding: 10px;
    margin: 30px;
    box-shadow: 100px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    background-color: rgb(0,0,0,0.653);
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
}

h4{
    text-align: center;
    background-color: rgb(0,0,0,0.653);
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: wheat; 
}
